* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.admin-container {
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 15px;
    color: #333;
}

.section {
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #f4f4f4;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.home-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
}
.home-button:hover {
    background-color: #0056b3;
}

table img {
    width: 50px; /* Largeur de l'image */
    height: 50px; /* Hauteur de l'image */
    object-fit: cover; /* Ajuste l'image pour remplir les dimensions tout en conservant son ratio */
    border-radius: 50%; /* Rend l'image circulaire */
    border: 1px solid #ccc; /* Ajoute une bordure légère autour de l'image */
    padding: 2px;
    background-color: #fff; /* Couleur de fond pour un look propre */
}


.description {
    max-width: 300px; /* Limite la largeur de la description */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Ajoute "..." si le texte dépasse */
}
